body {
    background-color: #EAF6F6;
}

h1 {
    color: #3a6d6d;
}

h3 {
    color: #3a6d6d;
}

/* hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%
} */